:root {
	--red: #eb2f06;
	--orange: #e67e22;
	--yellow: #f1c40f;
	--green: #2ecc71;
	--blue: #0984e3;
	--skyBlue: #75a4f5;
	--navy: #000080;
	--purple: #6c5ce7;
	--mint: #00d2d3;
	--pink: #e84393;
	--lighterGray: #dfe6e9;
	--gray: #b2bec3;
	--fontGray: #6b6b6b;
	--white: #ffffff;
	--black: #000000;
	--snow: #dff9fb;
	--main: #5982c8;
	--lighterGreen: #55efc4;
	--background: #ffffff;
}
