.TodoInput {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--white);
	padding: 0 4px;

	&-Input {
		flex: 1;
		outline: none;
		border: none;
		color: var(--white);
		background-color: var(--main);
		padding: 5px 2px;
		font-size: 1.2rem;

		&::placeholder {
			color: var(--white);
		}
	}

	&-Button {
		color: var(--white);
		font-size: 1.4rem;
		cursor: pointer;
	}
}
